html, body{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 300;
    font-style: normal;
    color:white;
}

header{
	background: url("../img/bg-header.jpg");
	width: 100%;
	padding: 20px 0;
}

.wrapper{
	width: 1050px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid red;
}
.wrapper:after{
	content:" ";
	display: table;
	clear: both;
}

.logo{
	float: left;
}

.social{
	float: right;
}
